@import url('https://fonts.googleapis.com/css2?family=Dancing+Script&family=Poppins:wght@200;400;700;900&display=swap');

*{
    padding:0;
    margin:0;
    box-sizing: border-box;
}
.additem{
    background-color: #fff;
    padding:2rem;
    height:100vh;
    display: flex;
    flex-direction: column;
}
.additem h1{
    font-family: 'Poppins';
    font-size: 3em;
    font-weight: 900;
    color:#474F7B;
    margin-bottom: 3rem;
}
.additem-left, .additem-right{
    width:60%;
    margin-left: 5%;
    /* border:solid 1px #474F7B; */
    
}
.additem-left{
    flex-wrap: nowrap;
}
.additem-right{
    display:flex;
    flex-direction: column;
    justify-content: center;
    width: 40%;
    margin-top: 2rem;
    gap: .24rem;
}
.additem-right label{
    color:#474F7B;
    font-weight: 600;
}
.additem-left h2{
    color:#474F7B;
}
.main-container{
    display: flex;
    /* gap:1rep; */
}

.name-stocks{
    display: flex;
    gap:1rem;
}

.detail-container{
    display: flex;
    flex-direction: column;
    width:40%;
}
.detail-container label{
    color:#474F7B;
    font-weight: 600;
}
.detail-container input{
    border-radius: 0;
    border:solid 1px #474F7B;
}
.texarea-container{
    display: flex;
    flex-direction: row;
    /* margin-top: 20%; */
}
.textarea{
    display: flex;
    flex-direction: column;
    color: #474F7B;
    font-weight: 600;
    width: 120%;
    /* height: 50%; */
}
.textarea textarea{
    border: solid 1px #474F7B;
    height: 10rem;
    resize: none;
}
.images-below{
    display: flex;
    gap: .25rem;
}
.images-below img{
    width: 17.1%;   
    /* gap:  2.25rem; */
}
.image-main{
    width: 52.9%;
    /* aspect-ratio: 3/2; */
}
.file-inputs{
    display: flex;
    gap:1rem;
}
.addVariation{
    margin: .5rem 0;
    padding:.5rem 1rem;
    background-color: #474F7B;
    color:#fff;
}
.addVariation:active{
    scale:.9;
}
.variations{
    display: flex;
    justify-content: left;
    gap:.5rem;
    flex-wrap: wrap;
}
.input-variation{
    display: flex;
    align-items: center;
    gap:.5rem;
    
}
.input-variation label{
    color:#474F7B;
}
.input-variation input{
    border: solid 1px #474F7B;
    width:10rem;
}
.variation-remove{
    padding:.5rem 1rem;
    background-color: rgb(255, 73, 73);
    color:#f8f8f8;
}
.variation-remove:active{
    scale:.9;
}
.input-images h3{
    width:100%;
    background-color: #474F7B;
    color:#fff;
    padding:.25rem 0 .25rem .5rem;
    margin: .5rem 0;
}
input[type="file"]{
    color:#474F7B;
}
.addProduct{
    margin-top: 2rem;
    padding:.5rem 1rem;
    background-color: #474F7B;
    color:#fff;
}
.addProduct:active{
    scale:.9;
}
@media(max-width:412px){
    .additem{
        padding:1rem .5rem;
    }
    .additem h1{
        font-size: 2.5em;
    }
    .main-container{
        flex-direction: column;
    }
    .additem-left,
    .additem-right{
        width:100%;
        margin-left: 0;
    }
    .additem-right{
        flex-direction: column;
    }
    .additem-right label{
        display: none;
    }
    .image-main{
        width:80%;
        height:80%;
        margin:0 auto;

    }
    .images-below{
        flex-direction: row;
    }
    .images-below img{
        width:33.3%;
    }
}