/* styles.css */

* {
  padding:0;
  margin:0;
  box-sizing:border-box;
}

.container {
  display:flex;
  flex-direction: column;
  gap:1rem;
  padding: 1rem;
  background-color: #DAF0F7;
  min-height: 100vh;
}

.cart-heading {
  margin-bottom: 1rem;
  color: #474F7B;
  font-family: Arial;
}

.cart-item {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
  
}

.cart-item-row {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: solid 1px #474F7B;
  padding:1.75rem;
}

.cart-item-text {
  color: #474F7B;
  font-family: Arial;
}

.remove-button {
  padding: 0.5rem 1rem;
  background-color: #940000;
  border: none;
  color: #fff;
}
.check{
  width:10rem;
  padding:.5rem 1rem;
  background-color: #474F7B;
  color:#fff;
}
@media(max-width:412px){
  .cart-item-row{
    justify-content: space-evenly;
    padding:.5rem;
  }
  .cart-item-row h2{
    font-size:.8em;
  }
  .cart-item-row button{
    padding:.25rem .5rem;
  }

}




/* *{
  padding:0;
  margin:0;
  box-sizing: border-box;
} 

.main-cart{
  padding:1.5rem;
}
.cart-product{
  display: flex;
  gap:1.5rem;
  padding:.5rem;
  margin:.5rem 0;

  background-color: #e7e7e7;
}
.cart-detail{
  width:100%;
  display: flex;
  gap:1rem;
  justify-content: space-around;
  align-items: center;
}
.cart-detail h1{
  color:#474F7B;
  padding-right: 2rem;
  border-right: solid 1px #474F7B;
}
.cart-product img{
  width:15vw;
}

@media(max-width:412px){
  .cart-product{
    width:90%;
  }
  .product-detail{
    flex-direction: column;
    justify-content: center;
  }
}

/* *{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }

  
  .container_navbar{
    display: flex;
    justify-content: space-between;
  }
  .first_imge .ellipse {
    height: 212px;
    left: 0;
    position: fixed;
    top: 0;
    width: 849px;
  }
  .ellipse_01{
    height: 156px;
    left: 0;
    position: fixed;
    top: 0;
    width: 849px;
  }
  
  
  .bow_shoppe{
    position: fixed;
    display: flex;
    align-items: center;
    width: 100%;
    height: 130px;
    gap: 1rem;
  }
  .bow{
    width: 40px;
    margin-left: 3%;
    cursor: pointer;
  }
  .bow_shoppe p{
    color: #1E1E1E;
    font-family: Poppins;
    font-size: 1.75rem;
    font-style: normal;
    font-weight: 500;
    width: 100%;
  }
  .basket_fix{
    display: flex;
    align-items: center;
    margin-right: 3%;
    gap: 1rem;
  }
  .basket_fix p{
    color: var(--lightBlue, #DB806D);
    font-family: Poppins;
    font-size: 2.1875rem;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
  }
  

  .cart_fix{
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
  }
  .cart_page{
    position: absolute;
    top: 20%;
    left: 0;
    right: 0;
    margin-right: auto;
  
  }
  .cart_page h1{
    color: var(--lightBlue, #DB806D);
    font-family: Poppins;
    font-size: 2.4rem;
    font-style: normal;
    font-weight: 500;
  }
  
  
  .pricing{
    position: absolute;
    right: 0;
    top: 30%;
    display: flex;
    justify-content: space-around;
    align-items: end;
    width: 44%;
  }
  .pricing h3{
    color: #DB806D;
    font-family: Poppins;
    font-size: 1.375rem;
    font-style: normal;
    font-weight: 500; 
    cursor: pointer;
  }
  

  .line_horizontal{
    position: absolute;
    left: 3%;
    right: 3%;
    top: 0;
    bottom: 30%;
    margin: auto;
    background: #DB806D;
    height: 2px;
    border: none;
    z-index: -1;
  }
  

  .cart_needs{
    position: absolute;
    top:40%;
    left: 3%;
    display: flex;
    width: 100%;
    gap: 1rem;
    z-index: -1;
  }
  .type_dress {
    display: flex;
    flex-direction: column;
    color: #1E1E1E;
    font-family: Poppins;
    font-size: 1.7rem;
    font-style: normal;
    font-weight: 600;
    line-height: 4.375rem;
  }
  .color_size{
    color: rgba(30, 30, 30, 0.51);
    font-family: Poppins;
    font-size: 1.375rem;
    font-style: normal;
    font-weight: 500;
    line-height: 2rem;
    
  }
  .price_cart{
    position: absolute;
    right: 3%;
    display: flex;
    justify-content: space-around;
    gap: 1.6rem;
    width: 43%;
  }
  .price_cart h3{

    font-family: Poppins;
    font-size: 1.375rem;
    font-style: normal;
    font-weight: 500;
  }
  
  .cart_needs_two{
    position: absolute;
    top:75%;
    left: 3%;
    display: flex;
    width: 100%;
    gap: 1rem;
    z-index: -1;
  }
  .price_cart_two{
    position: absolute;
    right: 3%;
    display: flex;
    justify-content: space-around;
    gap: 1.6rem;
    width: 43%;
  }
  .price_cart_two h3{
  
    font-family: Poppins;
    font-size: 1.375rem;
    font-style: normal;
    font-weight: 500;
  }
  

  .cart_needs_third{
    position: absolute;
    top:110%;
    left: 3%;
    display: flex;
    width: 100%;
    gap: 1rem;
    z-index: -1;
  }
  .price_cart_third{
    position: absolute;
    right: 3%;
    display: flex;
    justify-content: space-around;
    gap: 1.6rem;
    width: 43%;
  }
  .price_cart_third h3{
  
    font-family: Poppins;
    font-size: 1.375rem;
    font-style: normal;
    font-weight: 500;
  }
  

  .line_horizontal_two{
    position: absolute;
    left: 60%;
    right: 3%;
    top: 80%;
    bottom: 30%;
    margin: auto;
    background: #DB806D;
    height: 2px;
    border: none;
  }
  .subtotal{
      position: absolute;
      left: 60.6%;
      top: 81%;
      display: flex;
      justify-content: space-between;
      width: 34%;
     
    }
    .subtotal p{
      color: #DB806D;
      font-family: Poppins;
      font-size: 1.375rem;
      font-style: normal;
      font-weight: 500;
    }
  .subtotal .change_color{
    color: black;
  }
  

  .check_out_btn{
    position: absolute;
    top: 85%;
    left: 90%;
    color: #E27A64;
    text-align: center;
    font-family: Poppins;
    font-size: 1rem;
    font-style: normal;
    font-weight: 500;
  }
  .check_out_btn p{
    border: 2px solid #DB806D;
    width: 130%;
    padding: 5%;
    text-align: center;
    box-shadow: 10px 9px 0px 1px rgba(219,128,109,1);
    -webkit-box-shadow: 3px 3px 0 1px rgba(219,128,109,1);
    -moz-box-shadow: 10px 9px 0px 1px rgba(219,128,109,1);
  }
  
  
  .line_horizontal_third{
    position: absolute;
    left: 3%;
    right: 3%;
    top: 106%;
    bottom: 30%;
    margin: auto;
    background: #DB806D;
    height: 2px;
    border: none;
    z-index: -1;
  }
  
  
  
  .check_out_btn_two{
  position: absolute;
  top: 114%;
  left: 90%;
  color: #E27A64;
  text-align: center;
  font-family: Poppins;
  font-size: 1rem;
  font-style: normal;
  font-weight: 500;
  }
  .check_out_btn_two p{
  border: 2px solid #DB806D;
  width: 130%;
  padding: 5%;
  text-align: center;
  box-shadow: 10px 9px 0px 1px rgba(219,128,109,1);
  -webkit-box-shadow: 3px 3px 0 1px rgba(219,128,109,1);
  -moz-box-shadow: 10px 9px 0px 1px rgba(219,128,109,1);
  }

  @media(max-width:412px){

  } */ 