@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
*{
    padding:0;
    margin:0;
    text-decoration:none;
    box-sizing: border-box;
}
.Homepage{
    display: flex;
    justify-content: space-between;
}
nav{
    background-color:#d3806d;
    height:100vh;
    width:15vw;
    border-radius:0 20px 20px 0;

    display:flex;
    flex-direction:column;
    align-items: center;
    gap:2rem;

    padding-top:1.5rem;

}
.nav_a{
    color:#333;
    font-family: 'Poppins';
}
.nav_button{
    display: flex;
    align-items: center;
    gap:1rem;
}
.nav_button img{
    width:32px;
}
.nav_links{
    display: flex;
    flex-direction: column;
    gap:2rem;
}
.nav_line{
    width:100%;
    height:1px;
    background-color: #79493e;
}
.nav_buttom{
    display: flex;
    flex-direction: column;
    gap:2.25rem;
}
.main-content{

    width:60vw;
}
.stats{
    padding:.5rem;
    width:25vw;
    border-left:solid 1px #a8a8a8;
}
.stats_title{
    display: flex;
    align-items: center;
    gap:1rem;
    margin-bottom: 1.5rem;
}
.stats_title img{
    width:40px;
}
.stats_title h1{
    font-size: 1.25em;
}
.stats_web{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    gap:.5rem;
    
}
.count{
    width:auto;
    border:solid 1px #d3806d;
    padding:.5rem;
}
.count h3{
    font-size: .75em;
    
}
.count p{
    font-size: .75em;
}