@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
*{
    padding:0;
    margin:0;
    text-decoration:none;
    box-sizing: border-box;
}
.Homepage{
    display: flex;
    justify-content: space-between;
}
nav{
    background-color:#d3806d;
    height:100vh;
    width:15vw;
    border-radius:0 20px 20px 0;

    display:flex;
    flex-direction:column;
    align-items: center;
    gap:2rem;

    padding-top:1.5rem;

}
nav h1{
    color:#fff;
}
.nav_a{
    color:#333;
    font-family: 'Poppins';
}
.nav_button{
    display: flex;
    align-items: center;
    gap:1rem;
}
.nav_button img{
    width:32px;
}
.nav_links{
    display: flex;
    flex-direction: column;
    gap:2rem;
}
.nav_line{
    width:100%;
    height:1px;
    background-color: #79493e;
}
.nav_buttom{
    display: flex;
    flex-direction: column;
    gap:2.25rem;
}
.main-content{
    margin:1rem;
    width:60vw;
    border:solid 1px #d3806d;
    border-radius:20px;
}
.main-content h1{
    background-color: #d3806d;
    border-radius: 20px 20px 0 0;
    text-align: center;
    color:#fff;
    letter-spacing: 1.25px;
}
.main-content .link{
    font-size: .75em;
    text-align: center;
    border-bottom: solid 1px #d3806d;
}

.main-top{
    display:flex;
    justify-content: space-between;
    padding:.5rem 1rem;

    background-image: url(../assets/shoes.jpg);
    height:30vh;
    background-position: center;
    background-size: cover;
    border-radius: 0 0 20px 20px;
}
.main-top input{
    border: solid 1px #d3806d;
    border-radius: 20px;
    padding:.5rem 1rem;
    width:95%;
    height:35px;
}
.notif{
    width:30px;
    height:30px;
    background-color: #fff;
    padding: .25rem;
    border-radius: 50%;
    scale:1.1;
}

.featured_products{
    display: flex;
    justify-content: space-evenly;
    margin-top: 1.5rem;
}
.featured_products img{
    width: 170px;
    height:170px;

}
.stats{
    padding:.5rem;
    width:25vw;
    border-left:solid 1px #d3806d;
    display: flex;
    flex-direction: column;
    gap:1rem;
}
.stats_title{
    display: flex;
    align-items: center;
    gap:1rem;
    margin-bottom: 1rem;
}
.stats_title img{
    width:40px;
}
.stats_title h1{
    font-size: 1.25em;
    color:#d3806d;
}
.stats_web{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    gap:.5rem;
    
}
.count{
    width:45%;
    border:solid 1px #d3806d;
    padding:.5rem;
}
.count h3{
    font-size: .75em;
    
}
.count p{
    font-size: .75em;
}