@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Dancing+Script&family=Poppins:wght@200;400&display=swap');
*{
    padding:0;
    margin:0;
    border:0;
    box-sizing: border-box;

    font-family:'Poppins';

}
.Landing{
    height:100vh;
    background-color: #D3806D;

    line-height:20px;
    display: flex;
    flex-direction: column;
    gap:20vh;
}

.top{
    display: flex;
    justify-content: space-between;
    align-items:center;

    padding:1.5rem 2.5rem;
}
.top h1{
    color:#333;
    letter-spacing:1.5px;
    font-family: 'Dancing Script';
    font-size:2.5em;
    font-weight:bold;
}
.top h3{
    color:#333;
    font-weight:bold;
}
.internal-links{
    display:flex;
    gap:4rem;
    padding-top:.5rem;
}
.auth{
    display: flex;
    gap:1rem;
}
.register, .signin{
    color:#D3806D;
    text-decoration:none;
    padding:.5rem 1rem;
    border-radius:25px;
    border:solid 1px #333;

    cursor:pointer;
    transition:350ms;
    
}
.register:hover, .signin:hover{
    scale:1.1;
}
.register{
    background-color:#333;

}
.signin{
    color:#333;
    background-color: #D3806D;
}

.title{
    display: flex;
    flex-direction: column;
    gap:1rem;
    padding:1rem;
}
.title h1{
    font-weight:bolder;
}
.middle{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding:0 1.5rem;
    gap:1.5rem;

}
.title{
    display: flex;
    flex-direction: column;
    width:40%;
    gap:1.5rem;
    color:#333;
}
.about{
    display: flex;
    flex-direction: column;
    gap:1.5rem;
    width:30%;
    text-align: justify;
    color:#333;
    clip-path: polygon(0 0, 0 0, 0 100%, 0% 100%);
    animation: appear 1350ms 1 ease forwards;
    background-color: #333;
}
@keyframes appear{
    from{}
    to{
        background-color: #D3806D;
        clip-path: polygon(0 0, 100% 0, 100% 100%, 0% 100%);
    }
}
@keyframes appear2{
    from{}
    to{
        background-color: #D3806D;
        clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
    }
}
.about h3, .contact h3{
    color:#D3806D;
    background-color: #333;
    padding:.25rem 1rem;
    
}
.contact{
    animation: appear2 1350ms 1 ease forwards 1350ms;
    clip-path: polygon(0 0, 100% 0, 100% 0, 0 0);
    display: flex;
    flex-direction: column;
    gap:1.35rem;
    width:30%;
    color:#333;
    transform:translateY(-20px) ;
    -webkit-transform:translateY(-20px) ;
    -moz-transform:translateY(-20px) ;
    -ms-transform:translateY(-100px) ;
    -o-transform:translateY(-20px) ;
}
.contact img{
    width:40px;
    filter:drop-shadow(0 0 2px black);
    -webkit-filter:drop-shadow(0 0 1px black);
    transition:350ms;
}
.contact img:hover{
    scale:1.25;
}
.socials{
    display:flex;
    gap:1rem;
}
span{
    color:#D3806D;
    background-color: #333;
    padding:0 .75rem;
}
.address{
    transform:translateY(-20px);
}
.bottom img{
    width:100px;
    height:175px;
}
marquee{
    position:fixed;
    bottom:0;
    color:#d3806d;
    background-color:#333;
    padding:0;
    width:100vw;
}

.open_signin  {
    display: none;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1rem;

    background-color: #D3806D;

    padding: 2rem;
    border: solid 1px black;

    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 30vw;

    z-index: 999;
}
.open_login{
    display: none;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1rem;

    background-color: #D3806D;

    padding: 2rem;
    border: solid 1px black;

    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 30vw;

    z-index: 999;
}
.upper{
    display:flex;
    justify-content: space-between;
}
.upper button{
    padding:.25rem .5rem;
    transform: translate(50px, -20px);
    color:#D3806D;
    background-color: #000;
    border: solid 1px black;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
    -webkit-transform: translate(50px, -20px);
    -moz-transform: translate(50px, -20px);
    -ms-transform: translate(50px, -20px);
    -o-transform: translate(50px, -20px);
}
.upper button:active{
    scale:.9;
}

.submit{
    width:30%;
    border-radius:10px;
    -webkit-border-radius:10px;
    -moz-border-radius:10px;
    -ms-border-radius:10px;
    -o-border-radius:10px;

    background-color: #000;
    color:#D3806D
}
.submit:active{
    scale:.9;
}
input{
    width:100%;
    padding:.5rem 1rem;
    border-radius: 25px;
    -webkit-border-radius: 25px;
    -moz-border-radius: 25px;
    -ms-border-radius: 25px;
    -o-border-radius: 25px;
    outline:none;
}

