@import url('https://fonts.googleapis.com/css2?family=Dancing+Script&family=Poppins:wght@200;400;700;900&family=Sedgwick+Ave&family=Whisper&display=swap');*{
    padding:0;
    margin:0;
    box-sizing: border-box;
}
.ProductPage{
    background-color: #DAF0F7;
    min-height:100vh;
}
.product-page-descriptions{
    width:35%;
    display: flex;
    flex-direction: column;
    gap:.25rem;
    margin-left: 2rem;
}
.product-page-container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap:1.5rem;
}
.product-page-subpics{
    width:10%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap:1rem;

}
.product-page-mainpic{
    width:30%;

}
.product-page-mainpic img{
    width:100%;
    border-radius: 0 50%;
    transition: all 500ms;
}
.product-page-mainpic img:hover{
    border-radius:50%  0;
}
.product-page-price{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width:20%;
    color:#474F7B;
}

.product-page-subpics img{
    width:100px;
    aspect-ratio: 1/1;
    background-color: #fff;
    border-radius: 50%;
    transition: all 350ms;
}
.product-page-subpics img:hover{
    border: solid 2px #474F7B;
    scale:1.05;
}
.latest{
    font-family: 'Sedgwick Ave';
    color:#474F7B;
    font-size: 1.5em;
    letter-spacing: 1.5px;

}
.product-page-descriptions h1{
    font-size: 2.5em;
    font-family: 'Poppins';
    font-weight: bolder;
    color:#333;
}
.product-page-descriptions span{

    background: none;
    color:#474F7B;
    padding:0;
}
.product-page-descriptions-button{
    display: flex;
    gap:1rem;

}
.product-page-descriptions-button button{
    width:8rem;
    padding:.5rem;
    border-radius: 2rem;
    margin-top: 2rem;

    display: flex;
    justify-content: center;
    align-items: center;
    gap:.5rem;
    padding:.5rem;
    transition: all 350ms;

}
.product-page-descriptions-button button:hover{
    scale:1.05;
}
.product-page-descriptions-button button:first-child{
    color:#474F7B;
    background-color: #DAF0F7;
    border: solid 1px #474F7B;

}
.product-page-descriptions-button img{
    width:20px;
}

.product-page-descriptions-button button:nth-child(2){
    background-color:#474F7B;
    color:#fff;
}
.companyName{
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap:1rem;
    width:2%;
    height:100vh;
    background-color: #474F7B;

}
.companyName span{
    color:#fff;
    background:none;
    transform: rotate(-90deg);
    font-family: 'Poppins';
    font-weight: 400;
}
@media(max-width:412px){
    .companyName{
        display: none;
    }
    .ProductPage{
        padding:1rem .5rem;
    }
    .product-page-container{
        flex-direction: column-reverse;
    }
    .product-page-descriptions,
    .product-page-descriptions-button,
    .product-page-subpics,
    .product-page-mainpic,
    .product-page-price{
        width:100%;
    }
    .product-page-descriptions h1{
        font-size: 1.75em;
    }
    .product-page-descriptions p{
        font-size: .75em;
    }
    .product-page-mainpic img{
        width:85%;
        margin:0 7.5%;
        border-radius: 0;
    }
    .product-page-mainpic img{
        pointer-events: none;
    }
    .product-page-subpics{
        flex-direction: row;
    }
    .product-page-subpics img{
        width:75px;
    }
    .product-page-price{
        flex-direction: row;
        gap:1rem;
    }
    .product-page-descriptions-button button{
        margin-top: 1em;
    }
}

